.navegacao {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.navegacao__link {
    list-style: none;
    color: var(--cinza-claro);
    font-weight: var(--peso-medio);
    text-decoration: none;
    margin-right: 2rem;
}